@import "../node_modules/govuk-frontend/dist/govuk/all";

.govuk-header__logotype-text {
	font-weight: bold;
}
#main-content {
	padding-bottom: 80px;
}
#response-placeholder {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: inline-block
}
.hidden {
	display: none !important;
}
.govuk-notification-banner {
	margin-bottom: 0;
}

/* spinner */
.govuk-button--submit, #spinner {
  display: inline-block;
}
#spinner {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 6px;
  display: inline-block;
}

/* watermark */
html:not(.no-watermark) {
	background-image: url(/assets/images/draft-watermark.png) !important;
	background-position: 50% 0;
	background-repeat: repeat;
	background-size: 40%;
	background-color: white !important;
}
body {
	background: transparent !important;
}