@import "../node_modules/govuk-frontend/govuk/all";

.app-example__code {
	position: relative;
	font-family: "GDS Transport",arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
}
.app-tabs__container {
	background-color: #fff;
	border: 2px solid #b1b4b6;
	max-width: 100%;
}
#main-content {
	padding-bottom: 80px;
}
pre {
	margin-top:0;
	margin-bottom: 0;
}
.hljs {
	background: none !important;
}
@media (min-width: 40.0625em) {
	.app-example__code {
		font-size: 19px;
		font-size: 1.1875rem;
		line-height: 1.3157894737;
	}
}

#response-placeholder {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: inline-block
}
@keyframes animName {
 0%{
    transform: rotate(0deg);
   }
100%{
    transform: rotate(360deg);
   }
}
#response-placeholder.animate {
	animation: animName 2s linear infinite;
}
.hidden {
	display: none !important;
}